<nlg-head (toggleNavigation)="navigation.toggle()" (toggleSettings)="settings.toggle()"></nlg-head>

<mat-sidenav-container>

  <!-- Content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <!-- Left Sitenav - Navigation -->
  <mat-sidenav class="sidenav-shadow" #navigation 
  [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)" 
  fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" >

    <mat-toolbar #mt class="navigation-bar" (click)="navigation.close();">
      <button type="button" mat-button aria-label="Toggle sidenav" *ngIf="navigation.opened">
        <mat-icon class="menu-animation" aria-label="Side navigation toggle icon" (click)="this.navigation.close();">
          menu</mat-icon>
      </button>

      <span>NoLogig</span>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="home">Split Screen</a>
      <mat-divider></mat-divider>

      <a mat-list-item routerLink="gn8-player">NLG-Player</a>
      <mat-divider></mat-divider>

      <a mat-list-item routerLink="parallax-scrolls">Parallax Scroll</a>
      <a mat-list-item routerLink="parallax-mouse">Parallax Mouse</a>
      <mat-divider></mat-divider>

      <a mat-list-item routerLink="canvas-init">Canvas Math</a>
      <a mat-list-item routerLink="golden">Golden Ratio</a>
      <a mat-list-item routerLink="hexagon">Hexagons</a>
      <a mat-list-item routerLink="node-garden">Node Garden</a>
      <mat-divider></mat-divider>

      <a mat-list-item routerLink="mat-layouts">Mat Layouts</a>
      <a mat-list-item routerLink="vertical-tabs">Mat Vertical Tabs</a>
      <mat-divider></mat-divider>
    </mat-nav-list>

  </mat-sidenav>

  <!-- Right Sitenav - Settings -->
  <mat-sidenav #settings mode="over" position="end" fixedInViewport="true" role="settings">

    <mat-toolbar color="primary" class="settings-bar">
      <span>Settings</span>

      <button mat-button type="button" (click)="settings.toggle();">
        <mat-icon aria-label="Side settings toolbar icon" class="gear-spinner">settings</mat-icon>
      </button>
    </mat-toolbar>

    <mat-list>
      <a mat-list-item>Setting 1</a>
      <a mat-list-item>Setting 2</a>
    </mat-list>

  </mat-sidenav>

</mat-sidenav-container>
